<nav class="sidebar">
    <a href="/" class="sidebar-link active category-link" data-category="Any">
        <i class="fas fa-home"></i> Home
    </a>
    <a href="/saved" class="sidebar-link">
        <i class="fas fa-bookmark"></i> Saved
    </a>

    <div class="sidebar-section-title">Categories</div>

    <a href="#" class="sidebar-link category-link" data-category="Programming">
        <i class="fas fa-code"></i> Programming
    </a>
    <a href="#" class="sidebar-link category-link" data-category="Misc">
        <i class="fas fa-random"></i> Misc
    </a>
    <a href="#" class="sidebar-link category-link" data-category="Dark">
        <i class="fas fa-moon"></i> Dark
    </a>
    <a href="#" class="sidebar-link category-link" data-category="Pun">
        <i class="fas fa-grin-wink"></i> Pun
    </a>
    <a href="#" class="sidebar-link category-link" data-category="Spooky">
        <i class="fas fa-ghost"></i> Spooky
    </a>
    <a href="#" class="sidebar-link category-link" data-category="Christmas">
        <i class="fas fa-sleigh"></i> Christmas
    </a>
</nav>